<main role="main" id="mainContent" class="clear">
  <div id="welcomeImg">
    <p class="text-center" id="hello">Hello!<br>
      <!-- The <nobr> tags were used in the following line, in order to make the text flow better when the browser window gets resized. -->
      I am a <nobr>full-stack</nobr> web developer, and this is my blog &amp; portfolio site!
    </p>
  </div>
</main>
<br>