/* -- layout -- */

#welcomeImg {
  background: url('/assets/sketchbook-v3.png') no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 20rem 13rem;
}
#welcomeImg p {
  font-size: 1.5em;
  letter-spacing: .25em;
  margin: -10rem 10rem .1rem auto;
  padding: 1rem 3rem;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
}
#hello {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px 5px 30px 5px;
  line-height: 1.5em;
}

$welcomeImg-padding-mobile320: 14rem 2rem; /* handles hero image text for an iphone5 */
@media (max-width: 320px) {
  #welcomeImg {
    padding: $welcomeImg-padding-mobile320;
  }
  #welcomeImg p {
    margin: -12rem 10rem .1rem auto;
  }
}

$welcomeImg-padding-mobile435: 17rem 2rem; /* handles hero image text for an iphone5 */
@media (min-width: 321px) and (max-width: 435px) {
  #welcomeImg {
    padding: $welcomeImg-padding-mobile435;
  }
  #welcomeImg p {
    margin: -11rem 2rem .1rem auto;
  }
}